/* Footer */
footer {
    @include flex-center;
    flex-direction: column;
    color:var(--secondary-font-color);
    padding: 20px 0;
    font-size: 1.2rem;

    small {
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;

        a {
    margin: 0 10px;
    color:var(--secondary-font-color);
    transition: color 0.3s;
    font-size: 1.5rem;

    &:hover {
       filter: brightness(0.9); 
    }
        }
    }
}