/* Media Queries ------------ */
/* Tablet */
@media screen and (max-width: 1025px) {
    .nav-left h1 {
        font-size: 1.5rem !important;
    }

    .main {
        width: 90%;
    }

    .featured-article h1 {
        font-size: 2.2rem;
    }

    .article {
        margin-bottom: 20px;

        &-skeleton {
            margin-bottom: 20px;
        }

        h2 {
            font-size: 1.7rem;
        }
    }

    .smaller-articles {
        flex-direction: column;
    }

    article {
        width: 95%;
        margin: 30px auto;

            .text-content {
        width: 90%;
    }

    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.1rem;
        } 
    }

    /* Variations */
.centered-image-article img {
    width: 100%;
    max-height: 45vh;
    margin-bottom: 30px;
    }

    .left-image-article, .right-image-article {
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        height: auto;
        max-height: 35vh;
        margin-bottom: 20px;
        }
    }
}

/* Smartphone Vertical */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: start;
        height: auto;
        padding: 10px 5%;

        .nav-right a {
        margin-left: unset;
        margin-right: 20px;
        }
    }

    featured-article {
       h1 {
        font-size: 1.5rem;
        }  
        
        p {
        font-size: 1rem;
        }
    }

    .article {
        margin: 10px 0;

        h2 {
        font-size: 1.3rem;
        }
    }

        article, .text-content {
        width: 100%;

            h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
        }
    }

}