@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin article {
    flex: 1;
    margin: 0 15px;
    background: var(--box-shadow--container);
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 5px;
}